/* Backgrond*/
body {
    font-family: sans-serif, sans-serif, sans-serif, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    color: black;
    background: linear-gradient(135deg, #bdc3c7   , #5586b8);   
    background-size: cover; 
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.quiz-container {
   
    background-color: transparent;
    border: rgb(0, 0, 0);
}

button{
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    border: 2px solid slategray;
    background-color: #48e1ec;
    border-radius: 50px;
    cursor: pointer;
    width: auto;
}
.option-btn {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid slategray;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    width: auto; }

.option-btn:hover {
    border-color: #000;
    background-color: #d4d4d4;
}

.option-btn.selected {
    border-color: #007bff;
    background-color: #82ffe6;
}

.option-btn.correct {
    border-color: #14ce3f;
    background-color: #d4edda; 
}

.option-btn.incorrect {
    border-color: #dc3545; 
    background-color: #f8d7da; 
}

#submit {
    background-color: #1c527d;
    color: white;
    margin-top: 20px;
    width: 100%; 
}

#home {
    background-color: #1c527d;
    color: white;
    margin-top: 20px;
    width: 100%; 
    display: none;
}

#result {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.hidden {
    display: none;
}

#home {
    display: none;
}